# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [2]:
s = 'hello'
# Print out 'e' using indexing

In [3]:
s[1]

'e'

Reverse the string 'hello' using slicing:

In [2]:
s ='hello'
# Reverse the string using slicing

In [4]:
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [5]:
s ='hello'

# Print out the 'o'

# Method 1:

s[4]

'o'

In [6]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [7]:
# Method 1:

x=[0,0,0]

In [6]:
# Method 2:

x=[0]*3

In [8]:
x

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [18]:
list3 = [1,2,[3,4,'hello']]

In [19]:
list3[2].remove('hello')

In [20]:
list3

[1, 2, [3, 4]]

In [21]:
list3[2].append('goodbye')

In [22]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [85]:
list4 = [5,3,4,6,1]

In [86]:
#first method

list4.sort() #sort the elements ascending

list4

[1, 3, 4, 5, 6]

In [84]:
#second method

t=set(list4) #convert the list to set to sort the elemints

list4=list(t) #convert the set to list again

list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [46]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [48]:
d['simple_key']

'hello'

In [49]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [50]:
d['k1']['k2']

'hello'

In [54]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [57]:
d['k1'][0]['nest_key'][1]

['hello']

In [59]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello

In [62]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [63]:
planet = "Earth"

diameter = 12742

In [65]:
print('The diameter of {} is {} kilometers.'.format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [67]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [70]:
lst[3][1][2]

['hello']

** Given this nested dictionary grab the word "hello". **

In [72]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [74]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

### Write a Python program to swap two variables.

In [75]:
x=5 

y=1

In [76]:
x,y = y,x

In [79]:
print ('x after swapping = {}'.format(x))

print ('y after swapping = {}'.format(y))

x after swapping = 1
y after swapping = 5

## Thanks