# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [5]:
def lesser_of_two_evens(a,b):
    
     if a % 2 == 0 and b % 2 ==0 :     #if two numbers is even
        if a < b : 
            return a
        else: 
            return b
    
     elif a % 2 != 0 or b % 2 !=0 :    # if one of two numbers is odd
        if a > b :
            return a 
        else:
            return b

In [6]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_crackers(text):
    l1=text.split()          # split the text into list
    for i in l1 :
            if l1[0][0]==l1[1][0]: # if the first letter of first word = the first letter of second word
                return  'true'
            else :
                return 'false'

In [10]:
# Check
animal_crackers('Levelheaded Llama')

'true'

In [11]:
# Check
animal_crackers('Crazy Kangaroo')

'false'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [12]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20 or n1 + n2 == 20  :
        return 'True'
    else: 
        return 'false'

In [13]:
# Check
makes_twenty(20,10)

'True'

In [14]:
# Check
makes_twenty(2,3)

'false'

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [195]:
def old_macdonald(name):
    
    new = name[0:3].capitalize() + name[3:].capitalize()  # capitalize the first index only so it will capitalize 0 and 3
    
    print(new)

In [196]:
# Check
old_macdonald('macdonald')

MacDonald

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [52]:
def almost_there(n):
    
    if n in range(90,110): #within 10 of 100
        
        return 'True'
    elif n in range (190,210): # #within 10 of 200
        return 'True'
    else :
        return'false'

In [53]:
# Check
almost_there(104)

'True'

In [54]:
# Check
almost_there(150)

'false'

In [55]:
# Check
almost_there(209)

'True'

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [189]:
def has_33(nums):
    
    c = False              #flag start with intial value = false
    
    for i in range(0,len(nums)-1):  
        
        if nums[i] == nums[i+1]:
            
            c =True
            
        else :
            
            c = False

    return c

In [190]:
# Check
has_33([1, 3, 3])

True

In [191]:
# Check
has_33([1, 3, 1, 3])

False

In [192]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [217]:
def paper_doll(text):
    new =''                           # intialize the new word
    
    for i in range(0,len(text)):      
       
        new =new + text[i]*3          # multiply every charachter by the and add to the new word
    
    print(new)

In [218]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [219]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [164]:
def blackjack(a,b,c):
    s = a+b+c       # the sum of the three numbers 
    
    if s <= 21 :  
        
        return s 
    
    
    elif s > 21 and (a ==11 or b ==11 or c ==11) : 
        
        s = s -10 
    
        if s > 21 :
            return 'BUST'
        else :
            return s
    

    if s > 21 :
         return 'BUST'
    else :
         return s

In [165]:
# Check
blackjack(5,6,7)

18

In [166]:
# Check
blackjack(11,11,11)

'BUST'

In [167]:
blackjack(9,9,9)

'BUST'

In [168]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    for i in arr :
        if i == 6 :

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [150]:
def spy_game(nums):
    c = False              #flag start with intial value = false
    for i in range(0,len(nums)-1):
        
        if nums[i] == 0 and nums[i+1] == 0 and nums[i+2] ==7:
            
            c = True         # if the condition change the flage into true 
            
    return c

In [151]:
# Check
spy_game([1,2,4,0,0,7,5])

'true'

In [152]:
# Check
spy_game([1,0,2,4,0,5,7])

'false'

In [153]:
# Check
spy_game([1,7,2,0,4,5,0])

'false'

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [162]:
def count_primes(num):
    c = 0
    for i in range(1,num):
        for x in range (1,num):
            if i % x != 0 and i % i == 0:
                c +=1
    return c

In [163]:
# Check
count_primes(100)

93.28

## Great Job!